* {
  margin: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0; }

.wrapper {
  margin: 0 auto;
  width: 61.25em; }

ul {
  list-style: none;
  display: flex; }

li {
  padding: 0.875em;
  border-left: 0.0625em solid #e0e0e0; }

a {
  text-decoration: none;
  color: #a4a3a3;
  padding: 0.9375em;
  font-size: 0.625em; }

.back-header {
  background-color: #e2e2e2;
  border-top: 0.625em solid #523728; }

.front-header {
  padding: 2.5em 0.6875em 1.5625em;
  height: 22.1875em;
  position: relative; }

.home-menu {
  width: 32.8125em;
  background-color: #f1f0f0;
  height: 3.125em;
  border-radius: 2.125em;
  float: right;
  text-align: center; }

.left-post {
  height: 25.6875em;
  background-color: #704c40;
  display: inline-block;
  width: 50%; }

.left {
  float: right; }

.right-post {
  height: 25.6875em;
  background-color: #523728;
  display: inline-block;
  width: 50%;
  float: right;
  color: #fff;
  font-family: Myriad Pro, sans serif;
  position: relative; }

.photos-gallery {
  height: 31.9375em;
  padding-bottom: 9.375em; }

.back-footer {
  background-color: #614739; }

.left-arrow {
  background: url(../img/left-arrow.png) no-repeat;
  position: relative;
  top: 140px;
  right: 111px; }

.read {
  color: #5c5a5a;
  font-size: 0.8125em;
  padding: 0; }

.coffee {
  float: right;
  position: absolute;
  width: 19.125em;
  bottom: 5em;
  right: 5em; }

.right-arrow {
  background: url(../img/right-arrow.png) no-repeat;
  position: absolute;
  top: 218px;
  right: 0; }

.circles {
  width: 50em;
  bottom: 0;
  left: 29em;
  position: absolute; }

.color-brown {
  background-color: #523728;
  width: 0.625em;
  height: 0.625em;
  border-radius: 50%;
  display: inline-block; }

.color-brown2 {
  background-color: #523728;
  width: 0.625em;
  height: 0.625em;
  border-radius: 50%;
  display: inline-block; }

.color-gray {
  background-color: #c4c4c4;
  width: 0.625em;
  height: 0.625em;
  border-radius: 50%;
  display: inline-block; }

.coffee-shop {
  width: 33.6875em; }

.photo1, .photo4, .photo5 {
  width: 20.5em; }

.photo2 {
  width: 20.4375em; }

.photo3 {
  width: 19.8125em; }

.photo6 {
  width: 19.75em; }

.title-header {
  color: #8b8a8b;
  font-family: Myriad Pro, sans serif;
  width: 25.625em;
  height: 6.375em;
  display: inline-block;
  position: relative;
  top: 5em;
  left: 6.375em; }
  .title-header h1 {
    font-size: 1.0625em; }
  .title-header p {
    font-size: 0.8125em; }

.taste, .choice, .service {
  width: 17.9375em;
  display: inline-block;
  height: 18.75em;
  text-align: center;
  margin: 6.25em 1.0625em 0 1.25em; }
  .taste h2, .taste p, .choice h2, .choice p, .service h2, .service p {
    margin-top: 0.9575em;
    color: #8b8a8b;
    font-family: Myriad Pro, sans serif; }
  .taste a, .choice a, .service a {
    margin-top: 0.9575em;
    color: #6e4f40;
    padding: 0;
    font-size: 0.75em; }

.right {
  width: 30.625em;
  padding: 3.75em;
  position: absolute;
  left: 0; }
  .right p {
    padding: 1.25em 0; }

.read-button {
  width: 5.5625em;
  height: 2.1875em;
  background-color: #fff;
  border-radius: 0.3125em;
  text-align: center; }
  .read-button a {
    color: #523728;
    font-size: 0.6875em;
    font-family: Myriad Pro, sans serif; }

.title-gallery {
  height: 9.375em;
  text-align: center;
  padding-top: 9.375em; }
  .title-gallery h3, .title-gallery p {
    font-family: Myriad Pro, sans serif;
    color: #8b8a8b; }

.part-footer {
  width: 13.125em;
  color: #fff;
  padding: 0.9575em;
  display: inline-table; }
  .part-footer p, .part-footer h3 {
    font-family: Myriad Pro, sans serif; }

/*# sourceMappingURL=style.css.map */
