* {
  margin: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0; }

.wrapper {
  margin: 0 auto;
  width: 980px; }

ul {
  list-style: none;
  display: flex; }

li {
  padding: 14px;
  border-left: 1px solid #e0e0e0; }

a {
  text-decoration: none;
  color: #a4a3a3;
  padding: 15px;
  font-size: 10px; }

.back-header {
  height: 420px;
  background-color: #e2e2e2;
  border-top: 10px solid #523728; }

.front-header {
  padding: 40px 11px 25px;
  height: 355px; }

.home-menu {
  width: 525px;
  background-color: #f1f0f0;
  height: 50px;
  border-radius: 34px;
  float: right;
  text-align: center; }

.left-post {
  height: 411px;
  background-color: #704c40;
  display: inline-block;
  width: 50%; }

.left {
  float: right; }

.right-post {
  height: 411px;
  background-color: #523728;
  display: inline-block;
  width: 50%;
  float: right;
  color: #fff;
  font-family: Myriad Pro, sans serif; }

.photos-gallery {
  height: 511px;
  padding-bottom: 150px; }

.back-footer {
  height: 230px;
  background-color: #614739; }

.left-arrow {
  background: url(../img/left-arrow.png) no-repeat;
  position: relative;
  top: 140px;
  right: 111px; }

.read {
  color: #5c5a5a;
  font-size: 13px;
  padding: 0; }

.coffee {
  float: right;
  position: relative;
  top: 70px;
  right: 70px; }

.right-arrow {
  background: url(../img/right-arrow.png) no-repeat;
  position: relative;
  top: 140px;
  left: 804px; }

.color-brown {
  background-color: #523728;
  width: 10px;
  height: 10px;
  position: relative;
  top: 217px;
  border-radius: 50%;
  display: inline-block; }

.color-gray {
  background-color: #c4c4c4;
  width: 10px;
  height: 10px;
  position: relative;
  top: 217px;
  border-radius: 50%;
  display: inline-block; }

.title-header {
  color: #8b8a8b;
  font-family: Myriad Pro, sans serif;
  width: 410px;
  height: 102px;
  display: inline-block;
  position: relative;
  top: 80px;
  left: 102px; }
  .title-header h1 {
    font-size: 17px; }
  .title-header p {
    font-size: 13px; }

.taste, .choice, .service {
  width: 287px;
  display: inline-block;
  height: 300px;
  text-align: center;
  margin: 100px 17px 0 20px; }
  .taste h2, .taste p, .choice h2, .choice p, .service h2, .service p {
    margin-top: 15px;
    color: #8b8a8b;
    font-family: Myriad Pro, sans serif; }
  .taste a, .choice a, .service a {
    margin-top: 15px;
    color: #6e4f40;
    padding: 0;
    font-size: 12px; }

.right {
  width: 50%;
  padding: 60px; }
  .right p {
    padding: 20px 0; }

.read-button {
  width: 89px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center; }
  .read-button a {
    color: #523728;
    font-size: 11px;
    font-family: Myriad Pro, sans serif; }

.title-gallery {
  height: 150px;
  text-align: center;
  padding-top: 150px; }
  .title-gallery h3, .title-gallery p {
    font-family: Myriad Pro, sans serif;
    color: #8b8a8b; }

.part-footer {
  width: 210px;
  color: #fff;
  padding: 15px;
  display: inline-table; }
  .part-footer p, .part-footer h3 {
    font-family: Myriad Pro, sans serif; }

/*# sourceMappingURL=style.css.map */
