* {
	padding: 0;
	margin: 0;
}

.wrapper {
    width: 1400px;
    border: 1px solid black;
}

.navig ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navig ul li {
    list-style: none;
    float: left;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    width: calc(1400px/3);
}

.navig ul li a {
    display: block;
    text-decoration: none;
}

.hide {
	display: none;
}

.navig ul li a:hover {
	display: block;
}