.wrapper {
	margin: 0 auto;
	width: 61.25em;
};

ul {
	list-style: none;
	display: flex;
};

li {
	padding: 0.875em;
	border-left: 0.0625em solid #e0e0e0;
};

a {
	text-decoration: none;
	color: #a4a3a3;
	padding: 0.9375em;
	font-size: 0.625em;
};