//-----------------------------Header--------------------------------
.back-header {
	background-color: $background-header;
	border-top: 10px solid #523728;
};

.front-header {
	padding: 40px 11px 25px;
	height: 355px;
	position: relative;
};

.home-menu {	    
	width: 61.25%;
    max-width: 62.25%;
    min-width: 61.25%;
	background-color: $background-home;
	height: 50px;
	border-radius: 34px;
	float: right;
	text-align: center;
	contain: content;
};

//-----------------------------Main Part-------------------------------

.left-post {
	height: 411px;
	background-color: $background-left;
	display: inline-block;
	width: 50%;
};

.left {
	float: right;
};

.right-wrapper {
	margin: 0 auto;
	width: 100%;
};

.right-post {
	height: 411px;
	background-color: $background-right;
	display: inline-block;
	width: 50%;
	float: right;
	color: #fff;
	font-family: $font-text;
};

//-----------------------------Gallery Part-------------------------------

.photos-gallery {
	height: 511px;
	padding-bottom: 150px;
};

.first-photos, .second-photos {
	text-align: center;
};

//-----------------------------Footer Part-------------------------------

.back-footer {
	height: 230px;
	background-color: $background-footer;
};