//-----------------------------Header--------------------------------
.back-header {
	background-color: $background-header;
	border-top: 0.625em solid #523728;
};

.front-header {
    padding: 2.5em 0.6875em 1.5625em;
    height: 22.1875em;
    position: relative;
};

.home-menu {
	width: 32.8125em;
	background-color: $background-home;
	height: 3.125em;
	border-radius: 2.125em;
	float: right;
	text-align: center;
};

//-----------------------------Main Part-------------------------------

.left-post {
	height: 25.6875em;
	background-color: $background-left;
	display: inline-block;
	width: 50%;
};

.left {
	float: right;
};

.right-post {
	height: 25.6875em;
	background-color: $background-right;
	display: inline-block;
	width: 50%;
	float: right;
	color: #fff;
	font-family: $font-text;
	position: relative;
};

//-----------------------------Gallery Part-------------------------------

.photos-gallery {
	height: 31.9375em;
	padding-bottom: 9.375em;
};

//-----------------------------Footer Part-------------------------------

.back-footer {
	background-color: $background-footer;
};