//-----------------------------Header--------------------------------
.title-header {
	color: #8b8a8b;
	font-family: $font-text;
	width: 35%;
	height: 102px;
	display: inline-block;
	position: relative;
	top: 80px;
	left: 102px;

	h1 {
		font-size: 17px;
	};

	p {
		font-size: 13px;
	};

};

//-----------------------------Service Part--------------------------------

.taste, .choice, .service {
    width: 29.7%;
    display: inline-block;
    height: 300px;
    text-align: center;
    margin: 10% 0.7% 0 2.2%;

	h2, p {
		margin-top: 15px;
		color: #8b8a8b;
		font-family: $font-text;
	};

	a {
		margin-top: 15px;
		color: #6e4f40;
		padding: 0;
		font-size: 12px;
	};
};

//-----------------------------Main Part-------------------------------

.right {
	width: 50%;
	padding: 4%;

	p {
		padding: 2% 0;
	};
};


.read-button {
	width: 16.9%;
	height: 35px;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;

	a {
		color: #523728;
		font-size: 11px;
		font-family: $font-text;
	};
};

//-----------------------------Gallery Part-------------------------------

.title-gallery {
	height: 150px;
	text-align: center;
	padding-top: 150px; 

	h3, p {
		font-family: $font-text;
		color: #8b8a8b;
	};
};

//-----------------------------Footer Part-------------------------------

.part-footer{
    width: 21.1%;
    color: #fff;
    padding: 0.5%;
    display: inline-table;
	
	p , h3 {
		font-family: $font-text;
	};
};

